<?xml version="1.0" encoding="UTF-8"?>
<tests>

  <test
    definition="agda.k"
    programs="."
    extension="dt"
    results="." >
    <!--
    <all-programs>
      <krun-option name="&#x002d;&#x002d;pattern" value="&lt;k&gt; V:K &lt;/k&gt;" />
      <krun-option name="&#x002d;&#x002d;pattern" value="&lt;data&gt; D:K &lt;/data&gt;" />
      <krun-option name="&#x002d;&#x002d;pattern" value="&lt;meta&gt; M:K &lt;/meta&gt;" />
    </all-programs>
    -->
  </test>

</tests>
